@keyframes appearing {
  from {opacity: 0;}
  to {opacity: 1;}
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  height: 38vw;
  margin: 0 auto;
  margin-top: 1vw;
  background-color: #d9dfe4;
}

.wrapper input {
  display: none;
}

.img-wrapper {
  display: none;
  flex-wrap: wrap;
  width: 32vw;
  height: 35vw;
}

.img-area {
  width: 30vw;
  height: 30vw;
  border-radius: 0.5vw;
}

img {
  margin-left: 10vw;
  margin-top: 1.5vw;
  width: 100%;
  border-radius: 0.5vw;
  box-shadow: 0.4vw 0.4vw 0.2vw rgba(53, 53, 53, 0.5);
  animation: appearing 2s ease forwards;
}

.text-area {
  width: 31vw;
  height: 3.5vw;
  line-height: 3.5vw;
  font-size: 1.5vw;
  padding-left: 1vw;
  margin-top: 2.5vw;
  animation: appearing 2s ease forwards;
}

.buttons-area {
  width: 18vw;
  height: 3.5vw;
  display: flex;
  justify-content: space-around;
  margin-top: 33vw;
  border-radius: 0.3vw;
}

.buttons-area__button {
  box-sizing: border-box;
  width: 3.5vw;
  height: 3.5vw;
  display: flex;
  border-radius: 0.45vw;
  background-color: #fff;
  border-top: 0.2vw solid #d9dfe4;
  transition: 0.1s;
}

.buttons-area__button img {
  margin: 0;
  border-radius: 0.3vw;
  box-shadow: 0.15vw 0.15vw 0 rgba(53, 53, 53, 0.5);
}

.buttons-area__button:hover {
  cursor: pointer;
  border-top: 0.2vw solid #f3f0f0;
  border-left: 0.2vw solid #f3f0f0;
  border-right: 0.2vw solid #77797a;
  border-bottom: 0.2vw solid #77797a;
}

#slide1:checked~.wrapper>.content1,
#slide2:checked~.wrapper>.content2,
#slide3:checked~.wrapper>.content3,
#slide4:checked~.wrapper>.content4 {
  display: flex;
}
